@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar el botón predeterminado de AR en model-viewer */
model-viewer::part(default-ar-button),
model-viewer [slot="ar-button"]:not(.custom-ar-button) {
  display: none !important;
  visibility: hidden !important;
}

/* Ocultar la barra de desplazamiento */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Animación de fade-in */
.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Estilo adicional para model-viewer */
model-viewer {
  --ar-button: none; /* Ocultar botón predeterminado */
}
